<!-- Header -->
<header class="text-white" [ngStyle]="{'background': 'url(' + backgroundUrl + ') no-repeat center center / cover'}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><i class="fa fa-code code" aria-hidden="true" style="color: #4d4d4d;font-weight: bold;"></i> </h1>
                <div class="col-lg-12 head-text">
                    <p>{{currentDate}}</p>
                    <p>Hi, Welcome to my World.</p>
                    <p>Call me Palm or Natthast it my real name.</p>
                    <p>Enjoy watching for my works.</p>
                    <p>Thank you.</p>
                </div>
                <h1 style="margin-top: 8px; margin-bottom: 0;"><i class="fa fa-code code" aria-hidden="true" style="color: #4d4d4d;font-weight: bold;"></i>  </h1>
            </div>
            <!-- <div class="col-md-6 test">
                <div class="feedback-item mx-auto mb-5 mb-lg-0">
                    <img src="./assets/images/3.jpg" >
                </div>
            </div> -->
        </div>
    </div>
</header>

<!-- Programming Skill -->
<section class="icons text-center bg-light mb-3">
  <div class="container-fluid">
    <mat-tab-group dynamicHeight mat-align-tabs="center" mat-stretch-tabs>
      <mat-tab label="Programming Language">
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon mr-1">language</mat-icon>
          Programming Language
        </ng-template>

        <div class="container-fluid">
          <div class="row">

            <div class="col-4 col-md-4 col-lg-2 mt-5">
              <div class="icons-item mx-auto mb-4 ">            
                <div class="icons-icon mb-3">
                  <i class="fab fa-html5" style="font-size: 40px;color: orangered;"></i>
                </div>
                <h3>{{tools.html}}</h3>
              </div>
            </div>
    
            <div class="col-4 col-md-4 col-lg-2 mt-5">
              <div class="icons-item mx-auto mb-4">           
                <div class="icons-icon mb-3">
                  <i class="fab fa-css3-alt" style="font-size: 40px; color: #254BDD;"></i>
                </div>
                <h3>{{tools.css}}</h3>
              </div>
            </div>
    
            <div class="col-4 col-md-4 col-lg-2 mt-5">
              <div class="icons-item mx-auto mb-4 ">         
                <div class="icons-icon mb-3">
                  <i class='fab fa-js-square' style="color: #ffaf1c;font-size: 40px;"></i>
                </div>
                <h3>{{tools.javascript}}</h3>
              </div>
            </div>
              
            <div class="col-4 col-md-4 col-lg-2 mt-5">
              <div class="icons-item mx-auto mb-4 ">
                <div class="icons-icon mb-3">
                  <i class="fab fa-php" style="color: rgb(31, 119, 235);font-size: 40px;"></i>
                </div>
                <h3>{{tools.php}}</h3>
              </div>
            </div>
    
            <div class="col-4 col-md-4 col-lg-2 mt-5">
              <div class="icons-item mx-auto mb-4 ">          
                <div class="icons-icon mb-3">
                  <i class="fab fa-node" style="color: #4F9944;font-size: 40px;"></i>
                </div>
                <h3>{{tools.nodejs}}</h3>
              </div>
            </div>
    
            <div class="col-4 col-md-4 col-lg-2 mt-5">
              <div class="icons-item mx-auto mb-4 ">          
                <div class="icons-icon mb-3">
                  <i class="fab fa-cuttlefish" style="color: #5900ff;font-size: 40px;"># /</i>
                  <span style="font-size: 20px; color: #5900ff; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> .Net Core</span>
                </div>
                <h3>{{tools.c_sharp}}</h3>
              </div>
            </div>

          </div>
        </div>
      </mat-tab>
      <mat-tab label="Framework">
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon mr-1">border_color </mat-icon>
          Framework
        </ng-template>

        <div class="container-fluid">
          <div class="row">

            <div class="col-4 col-md-4 col-lg-2 mt-5">
              <div class="icons-item mx-auto mb-4 ">          
                <div class="icons-icon mb-3">
                  <i class="fab fa-angular" style="color: #ff0000;font-size: 44px;"></i>
                </div>
                <h3>{{tools.js_frameWork}}</h3>
              </div>
            </div>
    
            <div class="col-4 col-md-4 col-lg-2 mt-5">
              <div class="icons-item mx-auto mb-4 ">        
                <div class="icons-icon mb-3">
                  <i class="fab fa-angular" style="color: #3F51B5; font-size: 44px;"></i> <span style="font-size: 15px; color: #3F51B5;"> Material</span>
                </div>
                <h3>{{tools.angular_material}}</h3>
              </div>
            </div>
    
            <div class="col-4 col-md-4 col-lg-2 mt-5">
              <div class="icons-item mx-auto mb-4 ">        
                <div class="icons-icon mb-3">
                <i class="fab fa-bootstrap" style="font-weight: bold;color: rgb(115, 94, 255); font-size: 44px;"></i>
                </div>
                <h3>{{tools.bootstrap}}</h3>
              </div>
            </div>
    
            <div class="col-4 col-md-4 col-lg-2 mt-5">
              <div class="icons-item mx-auto mb-4 ">           
                <div class="icons-icon mb-3">
                  <span style="font-weight: bold;color: rgb(90, 182, 205); font-size: 38px;"><i class="fab fa-wordpress" aria-hidden="true"></i></span>
                </div>
                <h3>{{tools.web_framework}}</h3>
              </div>
            </div>
    
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Tools">
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon mr-1">settings </mat-icon>
          Tools
        </ng-template>

        <div class="container-fluid">
          <div class="row">
            
            <div class="col-4 col-md-4 col-lg-2 mt-5">
              <div class="icons-item mx-auto mb-4 ">          
                <div class="icons-icon mb-3">
                  <i class="fas fa-code" style="color: #247FB8; font-size: 30px;"></i>
                </div>
                <h3>{{tools.vs}}</h3>
              </div>
            </div>
    
            <div class="col-4 col-md-4 col-lg-2 mt-5">
              <div class="icons-item mx-auto mb-4 ">        
                <div class="icons-icon mb-3">
                  <i class="fas fa-code" style="color: #935FCE; font-size: 30px;"></i>
                </div>
                <h3>{{tools.vs_studio}}</h3>
              </div>
            </div>

            <div class="col-4 col-md-4 col-lg-2 mt-5">
              <div class="icons-item mx-auto mb-4 ">           
                <div class="icons-icon mb-3">
                  <i class="fab fa-git-alt" style="color: #EF7F6A; font-size: 35px;" aria-hidden="true"></i>
                </div>
                <h3>{{tools.git}}</h3>
              </div>
            </div>
    
            <div class="col-4 col-md-4 col-lg-2 mt-5">
              <div class="icons-item mx-auto mb-4 ">        
                <div class="icons-icon mb-3">
                <i class="fas fa-database" style="color: #FFB900; font-size: 30px;"></i>
                </div>
                <h3>{{tools.database}}</h3>
              </div>
            </div>

          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>

<!-- Body -->
<section class="showcase">
    <div class="container-fluid">
      <div class="row g-0">
        <div class=" col-lg-6 order-lg-2 text-white show-img">
          <img src="./assets/images/2.jpg" alt="main-img">
        </div>
        <div class=" col-lg-6 order-lg-1 my-auto show-text" >
          <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
            <i class="fa fa-university" aria-hidden="true"></i> Graduation Project (4th.)
          </h2>
          <p class="lead mb-0">Topic : Basic E-Commerce Website. <br> </p>
            <ul>
              <li>
              Design and create Backend by Html CSS JavaScript and use UI framework by bootstrap to do responsive for desktop mobile and tablet display.<br>
              </li>
              <li>
              Design and create MySQL database ,connection database and query select insert update delete from database by PHP and SQL.<br>
              </li>
              <li>
              Design and create Backend system with showing name address order of customer, check order and payment, add edit or delete product, calculate and show chart with daily monthly annual and total sales.   
              </li>
              <li>
              Edit some function query MySQL database by PHP and edit some page by Html JavaScript on front-end webpage.
              </li>
            </ul>    
            <a routerLink="" class="btn btn-outline-primary" style="font-family: monospace;font-weight: bold;margin-top: 10px;">
              Visit Work <i class="fa fa-hand-o-right" aria-hidden="true" ></i>
            </a>
        </div>
      </div>

      <div class="row">
        <div class=" col-lg-6 text-white show-img">
          <img src="./assets/images/5.jpg" alt="main-img">
        </div>
        <div class=" col-lg-6 my-auto show-text">
          <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
            <i class="fa fa-university" aria-hidden="true"></i> Intern
          </h2>
          <p class="lead mb-0">
            Company : TAC-M GROUP Co.,Ltd. <br>
            Position : Web Developer. <br> 
          </p>
            <ul>
              <li>
                Learn about building website e-commerce by WordPress 
                and Woo-commerce Plugin ,edit web page by WordPress plugin. <br>
              </li>
              <li>
                Learn and Design bout building google map and maps pin from
                searching store name ,provinces and district from database by
                JavaScript jQuery, Ajax, PHP, MySQL and build web page from
                UX/UI design by Html, CSS, JavaScript and do responsive by
                CSS and Bootstrap <br>
              </li>
              <li>
                Create Line Chat Bot by website line chat bot developer, teach
                bot for reply message by dialogflow and design flex message
                for bot reply message to user by line bot designer.
              </li>
              <a routerLink="" class="btn btn-outline-primary" style="font-family: monospace;font-weight: bold;margin-top: 10px;">
                Visit Work <i class="fa fa-hand-o-right" aria-hidden="true" ></i>
              </a>
            </ul>    
        </div>
      </div>
      
      <div class="row">
        <div class=" col-lg-6 order-lg-2 text-white show-img">
          <img src="./assets/images/6.jpg" alt="main-img">
        </div>
        <div class=" col-lg-6 order-lg-1  my-auto show-text">
          <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
            <i class="fa fa-briefcase" aria-hidden="true"></i> First Job
          </h2>
          <p class="lead mb-0">
            Company : PTT Digital Solutions Company Limited <br>
            Position : Full Stack Developer. <br> 
          </p>
            <ul>
              <li>

              </li>
              <li>

              </li>
              <li>

              </li>
            </ul> 
        </div>
      </div>

      <div class="row">
        <div class=" col-lg-6 text-white show-img">
          <img src="./assets/images/9.jpg" alt="main-img">
        </div>
        <div class=" col-lg-6 my-auto show-text">
          <h2>Full responsive Design</h2>
          <p class="lead mb-0">The PHP development team announces the immediate availability of PHP 8.0.6. 
            This release reverts a bug related to PDO_pgsql that was introduced in PHP 8.0.5.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- After Footer -->
  <section class="feedback text-center bg-light">
    <div class="container">
      <h2 class="mb-5" style="font-family:cursive;"> The secret of <font color="red">successful</font> in life is for a man to be ready for his opportunity when it comes.</h2>
      <div class="row">

        <div class="col-lg-4">
          <div class="feedback-item mx-auto mb-5 mb-lg-0">
            <img src="./assets/images/11.jpg" alt="feedback" class="img-fluid rounded-circle mb-3">
            <h5>Start Up.</h5>
            <p class="font-weight-light mb-0">Start where you are. Use what you have. <br> Do what you can.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="feedback-item mx-auto mb-5 mb-lg-0">
            <img src="./assets/images/7.jpg" alt="feedback" class="img-fluid rounded-circle mb-3">
            <h5>IDEAS.</h5>
            <p class="font-weight-light mb-0">Success usually comes to those who are too busy to be looking for it.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="feedback-item mx-auto mb-5 mb-lg-0">
            <img src="./assets/images/12.jpg" alt="feedback" class="img-fluid rounded-circle mb-3">
            <h5>Scale Up.</h5>
            <p class="font-weight-light mb-0">To be successful, the first thing to do is to fall in love with your work.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  
  <!-- Footer -->
  <footer class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <p class="text-foot">&copy; Developer {{defaultYear}}. All right to beginning.</p>
        </div>
      </div>
    </div>
  </footer>