<!-- Body -->
<section class="showcase">
    <div class="container-fluid">
      <!-- Graduate! -->
      <div class="row g-0">
        <div class=" col-lg-6 order-lg-2 text-white show-img">
          <img src={{img.Graduate}} alt="main-img">
        </div>
        <div class=" col-lg-6 order-lg-1 my-auto show-text" >
          <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
            <i class="fa fa-university" aria-hidden="true"></i> Graduation Project (4th.)
          </h2>
          <p class="lead mb-0">Topic : Basic E-Commerce Website. <br> </p>
            <ul>
              <li>
              Design and create Backend by Html CSS JavaScript and use UI framework by bootstrap to do responsive for desktop mobile and tablet display.<br>
              </li>
              <li>
              Design and create MySQL database ,connection database and query select insert update delete from database by PHP and SQL.<br>
              </li>
              <li>
              Design and create Backend system with showing name address order of customer, check order and payment, add edit or delete product, calculate and show chart with daily monthly annual and total sales.   
              </li>
              <li>
              Edit some function query MySQL database by PHP and edit some page by Html JavaScript on front-end webpage.
              </li>
            </ul>    
            <a routerLink="" class="btn btn-outline-primary" style="font-family: monospace;font-weight: bold;margin-top: 10px;">
              Visit Work <i class="fa fa-hand-o-right" aria-hidden="true" ></i>
            </a>
        </div>
      </div>

      <!-- Intern -->
      <div class="row">
        <div class=" col-lg-6 text-white show-img">
          <img src="{{img.Intern}}" alt="main-img">
        </div>
        <div class=" col-lg-6 my-auto show-text">
          <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
            <i class="fa fa-university" aria-hidden="true"></i> Intern
          </h2>
          <p class="lead mb-0">
            Company : TAC-M GROUP Co.,Ltd. <br>
            Position : Web Developer. <br> 
          </p>
            <ul>
              <li>
                Learn about building website e-commerce by WordPress 
                and Woo-commerce Plugin ,edit web page by WordPress plugin. <br>
              </li>
              <li>
                Learn and Design bout building google map and maps pin from
                searching store name ,provinces and district from database by
                JavaScript jQuery, Ajax, PHP, MySQL and build web page from
                UX/UI design by Html, CSS, JavaScript and do responsive by
                CSS and Bootstrap <br>
              </li>
              <li>
                Create Line Chat Bot by website line chat bot developer, teach
                bot for reply message by dialogflow and design flex message
                for bot reply message to user by line bot designer.
              </li>
              <a routerLink="" class="btn btn-outline-primary" style="font-family: monospace;font-weight: bold;margin-top: 10px;">
                Visit Work <i class="fa fa-hand-o-right" aria-hidden="true" ></i>
              </a>
            </ul>    
        </div>
      </div>
      
      <!-- Working -->
      <div class="row">
        <div class=" col-lg-6 order-lg-2 text-white show-img">
          <img src="{{img.Work1}}" alt="main-img">
        </div>
        <div class=" col-lg-6 order-lg-1  my-auto show-text">
          <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
            <i class="fa fa-briefcase" aria-hidden="true"></i> First Job
          </h2>
          <p class="lead mb-0">
            Company : PTT Digital Solutions Company Limited <br>
            Position : Web Developer. <br> 
          </p>
            <ul>
              <li>

              </li>
              <li>

              </li>
              <li>

              </li>
            </ul> 
        </div>
      </div>

      <!-- Test -->
      <div class="row">
        <div class=" col-lg-6 text-white show-img">
          <img src="{{img.Work2}}" alt="main-img">
        </div>
        <div class=" col-lg-6 my-auto show-text">
          <h2>Full responsive Design</h2>
          <p class="lead mb-0">The PHP development team announces the immediate availability of PHP 8.0.6. 
            This release reverts a bug related to PDO_pgsql that was introduced in PHP 8.0.5.</p>
        </div>
      </div>
    </div>
  </section>
  