/* ❤ image and text */
.show-img {
    padding: 0;
}
.show-img img {
    width: 100%;
}
.show-text {
    padding: 2rem;
    text-decoration: none;
}
.show-text ul {
    padding: 5px;
    margin: 0;
}
.show-text ul li{
    margin-top: 5px;
}