header {
    padding: 0;
    width: 100%;
    height: 350px;
    padding: 3.5rem;
}
.head-text {
    font-family: "Courier";
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}
.head-img {
  padding: 1px;
}