  <!-- After Footer -->
  <section class="feedback text-center bg-light">
    <div class="container">
      <h2 class="mb-5" style="font-family:cursive;"> The secret of <font color="red">successful</font> in life is for a man to be ready for his opportunity when it comes.</h2>
      <div class="row">

        <div class="col-lg-4">
          <div class="feedback-item mx-auto mb-5 mb-lg-0">
            <img src="./assets/images/11.jpg" alt="feedback" class="img-fluid rounded-circle mb-3">
            <h5>Start Up.</h5>
            <p class="font-weight-light mb-0">Start where you are. Use what you have. <br> Do what you can.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="feedback-item mx-auto mb-5 mb-lg-0">
            <img src="./assets/images/7.jpg" alt="feedback" class="img-fluid rounded-circle mb-3">
            <h5>IDEAS.</h5>
            <p class="font-weight-light mb-0">Success usually comes to those who are too busy to be looking for it.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="feedback-item mx-auto mb-5 mb-lg-0">
            <img src="./assets/images/12.jpg" alt="feedback" class="img-fluid rounded-circle mb-3">
            <h5>Scale Up.</h5>
            <p class="font-weight-light mb-0">To be successful, the first thing to do is to fall in love with your work.</p>
          </div>
        </div>

      </div>
    </div>
  </section>